<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gra</title>
</head>
<body>
    <h1 id="licznikTekst">{{ wartosc }}</h1>
    <button onclick="zwiekszLicznik()">Kliknij mnie</button>

    <p><a href="/sklep" class="przycisk">Sklep</a></p>
    <p><a href="/menu" class="przycisk">Powrót do menu</a></p>

    <script>
        async function zwiekszLicznik() {
            const odpowiedz = await fetch("/zwieksz_wynik");
            const dane = await odpowiedz.json();
            document.getElementById("licznikTekst").textContent = dane.wartosc;
        }
    </script>
</body>
</html>