<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Menu główne</title>
</head>
<body>
    <h1>Menu główne</h1>

    {% if zalogowany %}
        <p><a href="/gra">Idź do gry</a></p>
        <p><a href="/logout">Wyloguj się</a></p>
        <p><a href="/ranking">Ranking wszech czasów</a></p>
    {% else %}
        <p><a href="/login">Zaloguj się</a></p>
        <p><a href="/register">Zarejestruj się</a></p>
        <p><a href="/ranking">Ranking wszech czasów</a></p>
        <p><a href="/sklep">Sklep</a></p>
    {% endif %}
</body>
</html>